body{

}
.texto{
    background-color: #ebf74f
}

h1{
  text-align: center; color: blue; font-size: 40px;
  }

  .titulo-centralizado {
    text-align: center;
  }
  h3{
    font-style:italic;
    border: 10px ridge #fc0284; margin: 10px;
  }

p{
  text-align: justify; font-size: 20px; color: #5a4e3c;
}

strong{
  color: #fc0284;
}
#SALAO{
  width: 20%;
  border: 20px ridge #fc0284; margin: 10px;
  margin-left: 300px;
  padding: 1px;
}
.itens{
	font-style: italic;
}
.servicos{
	background:#FFFFFF;
	padding: 50px;
  font-size: 30px
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 10%;
  border: 20px double #fc0284; margin: 20px;
}

.imagemcabelomasculino{
	width: 28%;
  border: 20px ridge #fc0284; margin: 1px;
}
.imagemcabelofeminino{
	width: 30%;
  border: 20px ridge #fc0284; margin: 1px;
}
