body{
  background-color: #ebf74f
}

h1{
  text-align: center; color: blue; font-size: 40px;
  }

p{
  text-align: justify; font-size: 20px; color: #5a4e3c;
}

strong{
  color: #fc0284;
}
#SALAO{
  width: 30%;
  border: 5px solid #fc0284; margin: 10px;
  margin-left: 180px;
  padding: 5px;
}
